@import "~antd/dist/antd.css";
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.botonAnt{
  color: white !important;
  background-color: green !important;
}

.container{
  margin: 30px;
  margin-top: 20px;
}

.grids{
  background-color: grey;
  color: white;
  height: 500px;
  /* para colocar la imagen segun el tamaño */
  display: flex;
  align-content: center;
  text-align: center;
  justify-content: center;
  
}

.grids2{
  background-color: rgb(255, 255, 255);
  color: white;
  height: 500px;
  /* para colocar la imagen segun el tamaño */
  display: flex;
  align-content: center;
}

.imgIPP{
  width: 100%;
  max-width: 100%;
  
}
.imgIP1{
  width: 100%;
  max-width: 800px;
}

.imgIP2{
  width: 100%;
  height: 100%;
  max-width: 500px;
}


.imgIP3{
  width: 100%;
  max-width: 100%;
  height: 100%;
}

@media screen and (max-width: 320px){
  .grids4{
    width: 80px;
    height: 120px;
  }
  .space{
    width: 30% !important;
    max-width: 30% !important;

  }
}

.containerForm{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 0.5px solid blue;
  padding: 40px 40px 10px 40px;
  background-color: white;
}

.containerFormSondary{
  text-align: center;
}


.ulIzquierda{
  float: left;
  list-style: none;
  display: flex;
}

.iconMenu{
  font-size: 20px;
  color: white;
}

.tituloMenu{
  font-size: 18px;
  color: white;
  font-weight: bold;
}

.ulDerecha{
  float: right;
  /* list-style: none; */
  display: flex;
  padding-right: 30px;
}

.imageNavbar{
  width: 20px;
  height: 20px;
  border-radius: 40%;
  color: white;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;

}


.ant-layout-header{
  padding: 0px;
}


.containerDash{
  padding: 0px 30px 30px 30px;
}

.body{
  background-color: black;
}

.cardsContenedor{
  text-align: center;
}

.cardsContenido{
  padding:  0px 30px 30px 30px;
  background-color: black;
}

.ant-statistic-title{
  color: white;
}


@media(max-width: 992px){
  .cardsContenedor{
    padding-bottom: 15px;
  }
}